{% extends 'base.html' %}
{% load static %}

{% block title %}グループ作成 | MySFA{% endblock %}
{% block content %}
<div class="create-group-area">
    <h1 style="text-align: center; color: #333; font-size: 24px; margin-bottom: 20px;">グループを作成</h1>
    <form method="post" action="{% url 'mysfa:create_group' %}" style="display: flex; flex-direction: column; gap: 15px;">
        {% csrf_token %}
        <div style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; cursor: text;" onclick="this.querySelector('input').focus();">
            {{ form.as_p }}
        </div>
        <div style="padding: 10px; border: 1px solid #ccc; border-radius: 4px;">
            <label for="id_is_locked">ロック機能を有効にする</label>
            <input type="checkbox" id="id_is_locked" name="is_locked">
            <p class="lock-info">ロック機能を有効にすると、メンバー以外のユーザーはグループの投稿やグループメンバーの閲覧ができなくなります。</p>
            <p class="lock-info">新しくユーザーが参加する際は、メンバーの承認が必要になります。</p>
        </div>
        <button type="submit" style="display: block; padding: 10px 20px; min-width: 200px; max-width: 300px; margin: 0 auto; background-color: #39AEC8; color: white; border: none; border-radius: 4px; white-space: nowrap; cursor: pointer; text-align: center; font-size: 16px;">作成する</button>
    </form>
</div>
{% endblock %}